<h1>eheh</h1>
{% schema %}
{
  "name": "featured-product",
  "tag": "section",
  "class": "feature-product",
  "max_blocks": 4,
  "blocks": [
    {
      "name": "List Product",
      "type": "caerux",
      "settings": [
        {
          "id": "product",
          "label": "Product",
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
