.collection {
    .banner {
        .inner {
            position: relative;
            isolation: isolate;
            height: 32.6rem;
            overflow: hidden;
            .banner-img {
                object-fit: cover;
            }
            .banner-txt {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                .collection-name {
                    font-size: 4rem;
                    line-height: 6rem;
                    mix-blend-mode: difference;
                }
            }
        }
    }
    .collection-main {
        display: flex;
        gap: 3rem;
        margin: 4rem 1.5rem;
        .filters {
            flex: 1;
            text-align: left;
            .title {
                font-size: 1.8rem;
                font-weight: 400;
                margin-bottom: 4.25rem;
            }
            .filter-list {
                .filter-item {
                    .filter-label {
                        font-size: 1.6rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 4.5rem;
                        border-top: 1px solid #e7e7e7;
                        border-bottom: 1px solid #e7e7e7;
                        cursor: pointer;
                        > i {
                            margin-right: 0.5rem;
                        }
                    }
                    > .submenu {
                    }
                }
            }
        }
        .list-prod {
            .prod-grid {
                flex: 3;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 3rem;
                row-gap: 2rem;
            }
        }
    }
}
